body {
  background-color:rgb(244, 243, 244) !important;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  height: 60px;
  border: 1px solid rgba(128, 128, 128, 0.285);
  background-color: white;
}

// Container margin top for fixed
.ac_container {
  padding-top: 110px;
}

.ac_btn {
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  color:rgb(99, 190, 243);
}

